<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <body>
            <p style='font-size: 17px;'>
                Hi {{new_user.first_name}} 👋,<br>
            </p>   
            
            <p style='font-size: 17px; color: #222222;'>
                Your Deal Of The Date Request has been approved. Your Product will be the deal of the day from {{deal.date_start}} to {{deal.date_end}}
            </p>
            
            <br>
            <p>
                Best wishes,<br>
                Francis from wanneka.com
            </p>
    </div>
</body>
</html>